@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Rubik&&family=Ubuntu&display=swap');

:root{
	--prime:goldenrod;
	--sec: rgb(20,20,50);
	--ter: #e5e5e5;
	--dark: #141414;
}
*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	background:whitesmoke;
	font-family: Ubuntu,sans-serif;
	background-clip:border-box;
}
/* Side-nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
 /*  z-index: 1; */
  top: 0;
  left: 0;
  background-color: var(--dark);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: var(--prime);
}
/*Menu Icon*/
.container {
  display: inline-block;
  cursor: pointer;
  margin-right:30px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/*Navbar*/
#navbar{
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:var(--dark);
	color:#fff;
	position:fixed;
	width: 99%;
}
#navbar ul{
	list-style: none;
	display: flex;
}
#navbar ul li{
	margin: 10px;
}
.nav-link{
	text-decoration:none;
	color:white;
	font-size: 22px;
	font-family: rubik,sans-serif;
}
.nav-link:hover{
	color:var(--prime);
}
/*Logo*/
#logo{
	font-size: 30px;
	margin-left: 30px;
	font-family: "Bakbak One",cursive;
	letter-spacing: 5px;

}
#logo-highlight{
	color:var(--prime);
}
/*Sections*/
.section{
	min-height:100vh;
	width:100%;
	background: #fff;
}
/*Home section*/
#home{
	background: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)), url(../img/laptop.jpg);
	background-size: cover;
	display:flex;
	/*justify-content: center;*/
	align-items: center;
}
#info-wrapper{
	color:#fff;
	margin-left:10%;
}
.info{
	margin:10px;
}
#greet{
	font-size:2rem;
}
#name{
	font-size:3rem;
	color: var(--prime);
	font-family: "Bakbak One",cursive;
	letter-spacing: 5px; 
}
#dev{
	font-size: 1.8rem;
}
#dev-change{
	color:rgb(255,0,0);
	font-weight: 900;
}
/*Button*/
.btn{
	padding: 5px;
	font-size: 18px;
	color: var(--prime);
	background: transparent;
	font-weight: 600;
	border-radius: 10px;
	border:2px solid var(--prime);
}
.btn:hover{
	cursor: pointer;
	background: var(--prime);
	color: var(--dark);
}
/*About me*/
#about-me{
	background: linear-gradient(to bottom left,#fceeca 60%,var(--prime) 40%);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 30% 70%;
	justify-items:center;
}
.section-heading{
	text-align: center;
	font-size: 2.5rem;
	grid-column:1/4; 
	align-self: center;
}
#img-container{
	order:2;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.5;
}
#my-img{
	width:300px;
	height:300px;
	border-radius: 50%;
	background-image: url(../img/my_img.png);
	background-size:cover;
	background-position:center;
	border:3px solid #000;
	box-shadow: 10px 7px 10px 5px rgba(0,0,0,0.7);
	margin-bottom: 10px;
}
.text-container{
	width:100%;
	text-align: center;
	align-self: center;
	font-size: 16px;
	line-height: 1.3;
	box-shadow: 10px 7px 10px 5px rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.9);
	color: var(--prime);
	border:1px solid rgba(0,0,0,0.5);
	padding: 0.8rem;
	border-radius: 10%;

}
#text-left{
	order: 1;
	margin-left: 2rem;
}
#text-right{
	order: 3;
	margin-right: 2rem;
}
#img-container a{
	padding: 5px;
	margin: 10px;
	font-size: 18px;
	text-decoration: none;
	color: #000;
	font-weight: 600;
	border-radius: 10px;
	border:2px solid #000;
}
#img-container a:hover{
	cursor: pointer;
	background:#000;
	color: var(--prime);
}
/* Skills */
#skills{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#skills>h2{
	margin-bottom: 1rem;
}
#skill-progress{
	border:3px solid #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:60%;
	padding: 1rem;
}
#skill-progress div{
	width:90%;
	height:20px;
	border:2px solid #000;
	margin-bottom: 1rem;
}
#skill-progress h2{
	align-self: flex-start;
	margin-left:2.5rem;
}
/* Skill bars */
#skill-1{
	background: linear-gradient(to right,var(--prime) 100%,#fff);
}
#skill-2{
	background: linear-gradient(to right,var(--prime) 70%,#fff 30%);
}
#skill-3{
	background: linear-gradient(to right,var(--prime) 55%,#fff 45%);
}
#skill-4{
	background: linear-gradient(to right,var(--prime) 90%,#fff 10%);
}
#skill-5{
	background: linear-gradient(to right,var(--prime) 85%,#fff 15%);
}
#skill-progress p{
	display: inline-block;
	font-size: 16px;
	margin-left:20px;
}
/* Projects */
#projects{
	background: #141414;
}

#projects h2{
	color:var(--prime);
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#project-grid{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
	grid-gap:10px;
	padding:1rem;	
}
.project-card{
	background: #fff;
	min-height:300px;
}
.project-card img{
	height: 100%;
	width: 100%;
}
.project-card:hover{
	cursor: pointer;
	filter: brightness(50%);
}
/* Contact */
#contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#contact h2{
	margin: 3rem;
}
#contact-container a{
	color: var(--dark);
	font-size: 3em;
	margin: 1rem;
}
#contact-container a:hover{
	color: var(--prime);
}

@media screen and (max-width:799px){
	#logo{
		font-size: 20px;
	}
	#navbar{
		padding: 10px;
	}
	#navbar ul{
		display: none;
	}
	#about-me{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top:15%;
	}
	#img-container{
		width:100%;
	}
	.text-container{
		margin:0;
		width:80vw;
		font-size: 16px;
		box-shadow: 5px 3.5px 5px 2.5px rgba(0,0,0,0.4);
	}
	#text-left{
		order:2;
		margin: 0;
	}
	#text-right{
		margin: 0;
	}

}
@media screen and (min-width:800px){
	.container{
		display: none;
	}
}	