@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
body{
	margin: 0;
	background:whitesmoke;
	display: flex;
	flex-direction: column;		
}
.container{
	align-self: center;
	 background:honeydew;
	 width:80%;
	 box-shadow: 5px 5px 20px 3px rgba(255,255,255,0.5);
	 border-radius: 10px;
	 border: 3px dotted black;
}
h1{
	font-size: 40px;
	font-family:'Kanit',sans serif;
	letter-spacing: 3px;
	color: black;
	text-align: center;
	text-shadow: 3px 3px 10px 2px red;
				
}
a{				
	display: block;
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-weight: 700;
	margin: 10px;
	text-align: center;
	border-radius: 10px;;
}
a:hover{
	color: cyan;
	background: gray;
}											
